.iform {
    color: #5B851E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-top: 20px;
    width: 432px;

}
.iform ul {
	margin:0;
	padding:0;
	list-style:none;
    width: 436px;
}
.iform ul ul {
	overflow:auto
}
.iform li {
	padding-bottom:10px;
}
.iform label {
    display: block;
    float: left;
    line-height: 26px;
    padding-right: 5px;
    text-align: right;
    width: 130px;
}
.iform label.ilabel {
	width:auto;
	display:inline;
	float:none;
	line-height:26px;
	padding:0 5px
}
.iform .itext, .iform .itextarea, .iform .iselect, .iform .ibutton {
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 2px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #6E9E28;
    color: #5B851E;
    height: 18px;
    margin: 0;
    padding: 5px;
    width: 264px;
}
.iform .itext:hover, .iform .itextarea:hover, .iform .iselect:hover, .iform .ibutton:hover, .iform .itext:focus, .iform .itextarea:focus, .iform .iselect:focus, .iform .ibutton:focus {
	border-color: #6e9e28;
	background:#fff;
}
.iform .itext {
}
.iform .itextarea {
	height:100px;
	width: 250px;
}
.iform .ibutton {
    background-image: url("../images/sign-up-button.jpg");
    background-repeat: no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    padding: 0;
    width: 111px;
}
.iform .ibutton:hover, .iform .ibutton:focus {
    background-image: url("../images/sign-up-button.jpg");
    background-repeat: no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    padding: 0;
    width: 111px;
}
.iform li.iheader {
	display:block;
	font-size:18px;
	border-bottom:1px solid #000;
	padding:5px;
	text-indent:10px;
	margin:5px 0 15px
}
.iform li.iseparator {
	display:block;
	text-indent:-9999px;
	height:10px;
	line-height:10px;
	border-bottom:1px solid #999;
	margin:5px 0 15px
}
.iform .required {
	border-color:#F00;
}
#imessageOK, #imessageERROR {
	border:1px solid #F60;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	text-align: center;
	display:none;
	margin-bottom:20px;
	background: #F90;
	background: -webkit-gradient(linear, left top, left 25, from(#F90), color-stop(4%, #FC0), to(#F90));
	background: -moz-linear-gradient(top, #F90, #FC0 1px, #F90 25px);
	color:#fff;
}
